<center>
<br><br><h2><%= @team.name %></h2> <a href="/teams/<%=@team.id%>/edit">Edit</a> | <a href="/teams/<%=@team.id%>/delete">Delete</a><br><br>
<img src="<%= @team.image %>" width="40%" height="40%" alt="<%= @team.formation %> formation" style="float:right;margin-right: 8%;margin-bottom: 6%;"><br>
<% @team.players.each do |player| %>
    <h4><%= player.position %>. <%= player.name %> </h4>
<% end %>

</center>

